h1 {
    padding-top:10px;
}
h1 a:link {
    text-decoration: none;
    color: #7c0f0f;
}
h1 a:visited {
    text-decoration: none;
    color: #7c0f0f;
}
h1 a:hover {
    text-decoration: none;
    color: #404040;
}
html{
    height: 100%;
}
body {
    text-align: center;
    height: 100%;
    font-size: 15px;
    font-family: sans-serif;
}
h3 strong {
    color: #7c0f0f;
}
footer {
    position:relative;
    margin-top: -34px;
    height: 34px;
    clear:both;
}
label {
    float: none;
}
form .input {
    margin-left: 0px;
}
span.help-inline {
    padding-bottom: 0.5em;
}
p.muted code {
    font-size: 85%;
    color: gray;
}
small code {
    font-size: 85%;
}
div .popover.fade.bottom.in {
    color: black;
}
#btn_shorten_url {
    margin:0.5em;
}
#modal_tou {
    text-align: left;
}
#tou {
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    padding:1em;
    border:1px;
    margin: 1em 0 1em 0;
    border-color: #f0f0f0;
    background-color: #f9f9f9;
}
#banner_custom_short_url_info{
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    padding:0.3em;
    border:1px;
    border-color: #f0f0f0;
    background-color: #f9f9f9;
    margin-bottom: 0.5em;
}
#container {
    min-height:100%;
    width: 820px;
    margin: auto;
}
#main {
    margin-top:3em;
    overflow:auto;
    padding-bottom:34px;
}
#input_tou_check {
    margin: 0.5em;
}
#popover_about, #popover_schema_required {
    color: #BFBFBF;
}
span.help-inline.custom {
    padding-top:0.5em;
    font-size: 1em;
}