%%-*- mode: erlang -*-
[ %% webmachine config
  {webmachine, [{log_handlers,
		 [{webmachine_log_handler, ["./priv/webmachine_logs/"]},
		  {webmachine_perf_log_handler, ["./priv/webmachine_perflogs/"]}]}]},
  %% erli config
  {erli, [{pools, [{stats_pool,
		    [{size, 10}, {max_overflow, 20}],
		    []}]}]},
  %% mnesia config
  {mnesia, [{dir, "./priv/mnesia.store"}]}
].
