[{erli, [{thumbnail_placeholder, <<"placeholder.jpeg">>},
	 {flag_limit, 15},
	 {thumbnail_dir, "thumbnails"},
	 {thumbnail_age_limit, 30}, % days!
	 {default_collection_offset, 25},
	 {cors_whitelist, "http://localhost:9000"},
	 {max_collection_offset, 50}]},
 {webmachine, [{log_handlers,
		[{webmachine_log_handler, ["log"]},
		 {webmachine_perf_log_handler, ["log"]}]},
	       %% TODO: this works fine in releases, since you can inherit config
	       %% files, but for the development version it doesn't work
	       {ip, "0.0.0.0"},
	       {port, 8000}]},
 {erlcron, [{crontab,
	     [{{daily, {every, {6, hr}, {between, {0, am}, {12, pm}}}},
	       {erli_thumbnails, generate_thumbnails, []}}]}]}].
