[{erli, [{thumbnail_placeholder_id, <<"placeholder.png">>},
	 {flag_limit, 15},
	 {default_collection_offset, 25},
	 {max_collection_offset, 50}]},
 {webmachine, [{log_handlers,
		[{webmachine_log_handler, ["log"]},
		 {webmachine_perf_log_handler, ["log"]}]},
	       {ip, "0.0.0.0"},
	       {port, 8000}]}].
