%%-*- mode: erlang -*-
%% Configuration
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{sub_dirs, ["rel"]}.

%% common_test
{ct_dir, "ct"}.
{ct_log_dir, "ct/logs"}.
%{ct_extra_params, "-boot start_sasl -erl_args -config erli.config"}.
{ct_use_short_names, true}.

%% Dependencies
{deps,
 [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {jsx, "1.4.*", {git, "git://github.com/talentdeficit/jsx", "HEAD"}},
  {egeoip, "1.1", {git, "git://github.com/mochi/egeoip", "HEAD"}}]}.
