%% Configuration
{plugins, [rebar_ct]}.
{erl_opts, [debug_info]}.

%% common_test
{ct_dir, "ct"}.
{ct_log_dir, "ct/logs"}.
{ct_extra_params, "-boot start_sasl -s erli_backend -config test-erli"}.
{ct_use_short_names, true}.

%% Dependencies
{deps,
 [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {jsx, "1.4.*", {git, "git://github.com/talentdeficit/jsx", "HEAD"}}]}.
