%% Configuration
{erl_opts, [debug_info]}.
{cover_enabled, true}.

%% common_test
{ct_dir, "ct"}.
{ct_log_dir, "ct/logs"}.
{ct_extra_params, "-boot start_sasl -config erli"}.
{ct_use_short_names, true}.

%% Dependencies
{deps,
 [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {jsx, "1.4.*", {git, "git://github.com/talentdeficit/jsx", "HEAD"}},
  {erlcron, "", {git, "git://github.com/erlware/erlcron", "HEAD"}},
  {egeoip, "1.0", {git, "git://github.com/mochi/egeoip", "HEAD"}}]}.
