h1 a:link {
    text-decoration: none;
    color: #404040;
}
h1 a:visited {
    text-decoration: none;
    color: #404040;
}
h1 a:hover {
    text-decoration: none;
    color: #404040;
}
body {
    text-align: center;
    padding-top: 40px;
}
label {
    float: none;
}
.container {
    width: 820px;
}
.alert-message {
    margin-bottom: 0px;
}
form .input {
    margin-left: 0px;
}
form .clearfix.error input, form .clearfix.error textarea {
    color: gray;
}
#about_popover, #url_structure_popup, #path_help_popup {
    color: #BFBFBF;
}
