%% -*- mode: erlang -*-
{sys, [{erts, [{mod_cond, derived}, {app_file, strip}]},
       {relocatable, true},
       {lib_dirs, ["../deps"]},
       {app_file, strip},
       {debug_info, strip},
       {rel, "api", "0.1",
        [kernel, stdlib, sasl, inets, crypto, mnesia, egeoip, jsx, webmachine, {erli, transient}]},
       {rel, "start_clean", "", [kernel, stdlib]},
       {boot_rel, "api"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore", "Makefile"]},
       {app, erli, [{mod_cond, app},
		   {incl_cond, include},
		   {excl_app_filters, ["\.edts"]},
		   {lib_dir, ".."}]}]}.

{target_dir, "api"}.

{overlay, [{mkdir, "log/sasl"},
	   {mkdir, "log/webmachine"},
	   {copy, "../erli.config", "releases/\{\{rel_vsn\}\}/erli.config"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/api", "bin/api"},
           {copy, "files/api.cmd", "bin/api.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}]}.
